{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": ["warn", "single"],
    "react/react-in-jsx-scope": "off",
    "prefer-arrow-callback": "warn",
    "@typescript-eslint/ban-types": "warn",
    "import/order": ["warn", {"groups": ["builtin", "external", "internal", ["parent", "sibling"], "object", "type", "index"]}]
  }
}
