@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Futura', BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: url('/cursor20.png'), auto;
  /* Microsoft Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  /* Google Chrome, Safari */
  display: none;
}

a,
button {
  cursor: url('/cursor20.png'), auto;
}

a:hover,
button:hover {
  cursor: url('/cursor25.png'), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
